.header-Fondo {
    background-color: rgb(37, 99, 99); 

}


/* 
.header-img-fantasma  {
  width: 40px;
  height: 40px;
  object-fit: cover;
  position: relative;
  animation: mover 5s linear infinite alternate;
}

@keyframes mover {
  from {
    left: 0;
  }
  to {
    left: calc(98vw - 40px - 200px);
  }
} */