.header-Fondo {
    background-color: rgb(106, 184, 184); 

}

/* Esta es la animacion del fantasma! */

.header-img-fantasma  {
  width: 40px;
  height: 40px;
  object-fit: cover;
  position: relative;
  animation: mover 5s linear infinite alternate;
}

@keyframes mover {
  from {
    left: 0;
  }
  to {
    left: calc(100vw - 40px - 200px);
  }
}

.layout {
  display: grid;
  grid-template-columns: 220px 1fr;
  height: 100vh;
}